doctype html
html
	head
		title D3 Examples
		link href='/css/all.css' rel='stylesheet' type='text/css'
		link href='/lib/components-font-awesome/css/font-awesome.css' rel='stylesheet' type='text/css'
		script src='/lib/rgbcolor.js'
		script src='/lib/StackBlur.js'
		script src='/lib/canvg.js'
		script src='/lib/interact/interact.js'
	body
		/ button#btn-update Add Data
		div#chart
		div#legend
		div#canvasg-demo

		div[style="width: 1000px; height: 500px;"]
			div#hypothesis
			div#evidence
			div[id="yes-drop" class="draggable entity drag-drop" data-type="entity" entity-name="pranav" style="width: 100px;"] #yes-drop
		/ div.chart-example#chart
		/ div.chart-example#radial-chart

	script src='/lib/d3/d3.js'
	script src='/js/all.js'